.register-container {
    width: 400px;
    height: 650px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
}